<div class="clubMain-property">
  <ul class="nav nav-tabs mt-3">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/clubMain/<%=id%>/<%=id2%>">Board</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/clubMain/<%=id%>/<%=id2%>/album">Album</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/comment">Comment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/schedule">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/info">Info</a>
    </li>
  </ul>
</div>

<div class="row my-2">
  <div class="col">
    <h3 class="text-center mt-4 mb-2">Album</h3>
    <div class="text-end">
      <button class="btn btn-primary btn-sm" id="btn-upload">upload</button>
    </div>
    <!-- albumList를 출력할 공간 -->
    <div class="row" id="list_album"></div>
  </div>
</div>

<!-- list_album 안에 들어갈 템플릿 작성하기 -->
<script id="temp_pic" type="text/x-handlebars-template">
  {{#each .}}
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card my-1">
      <div class="card-body">
        <img id="{{rid}}" src="{{photo}}" alt="앨범사진" style="cursor: pointer; width: 130%; padding-right: 20PX;" data-bs-toggle="modal" data-bs-target="#picturemodal">
      </div>
      <div class="card-footer" style="font-size: 0.7rem;">
        <div class="text-center">
          <span>{{title}} / {{date}} / {{email}}</span>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</script>

<div class="modal fade" id="picturemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="picturemodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="picturemodalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modalImage" src="" alt="큰 이미지" style="width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="text-end mb-2" id="btn-group" style="display:none">
          <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
  
<script type="module">
  import { app } from "/javascripts/firebase.js";
  import { getFirestore, setDoc, doc, getDocs, collection, getDoc, deleteDoc } from 'https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js';
  const db = getFirestore(app);
  const category = "<%=id%>";
  const clubId = "<%=id2%>";
  const readId = "<%=id3%>";
  console.log(category);
  console.log(clubId);
  console.log(readId);

  let page = 1;

  getList();

  async function getList(){ 
    let rows = [];
  
    const querySnapshot = await getDocs(collection(db, `club-category-${category}`, clubId, 'album'));
    querySnapshot.forEach((doc) => {
    console.log(doc.id);
    console.log(doc.data().photo); //저장되어 있는 사진 URL
    console.log(doc.data().title);
    console.log(doc.data().date);
    console.log(doc.data().email);
    rows.push({rid: doc.id, photo: doc.data().photo, title: doc.data().title, date: doc.data().date, email: doc.data().email});
  });

  //핸들바스 템플릿을 가져온다.
  const temp = Handlebars.compile($('#temp_pic').html());
  //위에서 읽어온 템플릿(반복문 적용된) 결과를 div 태그 내부에 끼워넣기
  $('#list_album').html(temp(rows)); // Handlebars에 전달하는 객체에 사진 URL, title, date 배열 추가
  }//end of getList

  //개발자 센터 > application > storage > Local storage
  const email = localStorage.getItem("email");
  $("#btn-upload").on("click", () => {
    //로그인을 해야만 글쓰기 권한이 있다
    //너 로그인 했니? 너 email값 쥐고 있어? - 어디에? localStorage
    if(email){
      location.href = "/clubMain/<%=id%>/<%=id2%>/album/upload";
    }
    //나 로그인 안했어. 하고 와 
    else {
      location.href = "/login";
    }
  })

  // 이미지를 클릭했을 때 모달에 해당 이미지를 띄우기
  $(document).on('click', 'img[data-bs-toggle="modal"]', function() {
    const imageUrl = $(this).attr('src');
    $('#modalImage').attr('src', imageUrl);
  });

  //const snapshot = await getDoc(doc(collection(db, `club-category-${category}`, clubId, 'album'), readId));
  const row = querySnapshot.data();  
  console.log(row);  
  if( email == row.email){
    $('#btn-group').toggle();
  }
  // 사진 삭제
  $("#btn-delete").on('click', async function(){ 
    //$(".card-body img").attr()
    console.log("삭제");
    if(confirm(readId+"번 사진 삭제할거니?")){
      await deleteDoc(doc(collection(db, `club-category-${category}`, clubId, 'album')));
      //삭제 후 목록페이지로 돌아감
      location.href = "/clubMain/<%=id%>/<%=id2%>/album";
    }
  })
</script>