<div class="clubMain-property">
  <ul class="nav nav-tabs mt-3">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/clubMain/<%=id%>/<%=id2%>/board">Board</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/album">Album</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/comment">Comment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/schedule">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/info">Info</a>
    </li>
  </ul>
</div>

<!-- <div class="clubMain-2">
  <ul class="nav nav-tabs mt-3">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/clubMain/<%=id%>/<%=id2%>/board">Board</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/clubMain/<%=id%>/<%=id2%>/album">Album</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/comment">Comment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/schedule">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clubMain/<%=id%>/<%=id2%>/info">Info</a>
    </li>
  </ul>
</div> -->